.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 5px 10px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-links{
    display: flex;
}

.header-links a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
    margin: 0 10px;
}



/*-------------Elements-------------*/
img{
    max-width: 200px;
}